body 
{
  background-color: #f7f4f4;
  text-align: center;
}
h1 
{
  color: rgb(206, 19, 19);
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(238, 22, 22);
  background: white;
}
a
{
  color: rgb(17, 182, 204);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(24, 187, 209);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(202, 125, 125);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: rgb(7, 92, 85);
    font-size: 18px;
}

